* {
  margin: 0;
  padding: 0;
}

.background {
  position: relative;
  margin: 200px auto;

  width: 500px;
  height: 400px;
  border-radius: 5px;
  background-color: #cbcbcb;
}

.main-page {
  position: absolute;
  margin: 15px 25px auto 25px;

  border-radius: 5px;
  width: 450px;

  background-color: #fefefe;
}

.title {
  margin: 30px auto 10px 20px;
}

.description {
  margin-left: 20px;
  font-style: italic;
  font-size: 13px;
}

.add-task {
  margin: 10px auto auto 20px;
}

.task {
  width: 300px;
  
  line-height: 25px;
  border: 1px solid #cbcbcb;
}

.button-add {
  width: 60px;
  height: 25px;

  color: white;
  border: 0;
  border-radius: 5px;
  outline-color: none;

  background-color: #fc999c;
}
.button-add:hover {
  background-color: #f7abae;
}

.task-list {
  width: 350px;
  margin: 30px auto auto 40px;
}

.task-list li {
  margin-top: 10px;
  line-height: 25px;
  font-size: 15px;
}

.task-list li:nth-child(2n) {
  background-color: #f4ebeb;
}

.checked {
  margin-left: 8px;
}

.footer {
  display: flex;
  justify-content: space-evenly;
  margin: 30px auto 10px auto;

  width: 300px;

}

.button {
  border: 0;
  width: 60px;
  height: 25px;
  color: #fc999c;
  outline-color: #fc999c;
  background-color: white;
}

.remove {
  position: absolute;
  left: 270px;
  border: 0;
  width: 100px;
  height: 25px;
  text-align: right;
  font-size: 15px;
  color: #555050;
  outline-color: rgb(252, 252, 252);
  background-color: rgb(228, 114, 114, 0);
  display: none;
}

.row:hover .remove {
  display: inline-block;
}

.row span {
  margin-left: 5px;
}
